{:deps true
 :nrepl {:port 8703}
 :dev-http {2323 "out/public"}
 :builds {:browser {:target :browser
                    :js-options {:babel-preset-config {:targets {:chrome 80}}}
                    :output-dir "out/public/js"
                    :asset-path "/js"
                    :compiler-options {:optimizations :simple
                                       :warnings {:infer false}}
                    :modules {:base {:init-fn sdf.core/pre-init}}}}}
